*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Open Sans' ,Arial ,sans-serif;
}

/* start header */
#header{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url('../image/image_1.jpg');
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

#small_header{
    width: 85%;
    margin: 0 auto;
    padding: 235px 0;
}

#header h1{
    font-size: 54px;
    font-weight: 300;
}

#header_link1{
    background-color: #1A57A5;
    border: 2px solid #1A57A5;
    color: white;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 0;
    margin-right: 10px;
    font-size: 16px;
    transition: 0.3s;
}

#header_link1:hover{
    background-color: #103463;
    border-color: #103463;
}

#header_link2{
    color: white;
    border: 2px solid white;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 0;
    font-size: 16px;
    margin-right: 10px;
    transition: 0.3s;
}

#header_link2:hover{
    background-color: rgba(255, 255, 255, .3);
}

#header_links{
    margin-top: 40px;
}
/* end header */

/* start services */
#services{
    background-color: white;
    padding: 112px 0px;
    width: 100%;
}
#small_services{
    background-color: white;
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
#service{
    background-color: white;
    width: 30%;
    height: 426.77px;
    padding: 30px;
    
}
.services_top_icon{
    font-size: 70px;
    color: #1A57A5;
    margin: 0px 0px 50px;
}
#service>h2{
    margin: 20px 0px 30px;
    color: #1a57a5;
    font-size: 24px;
    font-weight: 500;
}
#service>p{
    font-size: 16px;
    color: #73767c;
    margin: 0px 0px 30px;
    line-height: 1.6;
}
#services_link a{
    text-decoration: none;
    color: #1a57a5;
}
#services_link a i{
    font-size: 12px;
    transition: 0.2s;
}
#services_link>a:hover i{
    margin-left: 10px;
}

/* end services */

/* start Features */
.Features{
    background-color: #D6E6F2;
    padding: 7em 0;
    width: 100%;
}

.small_feature{
    width: 80%;
    margin: 0px auto;
}
.Feature_title1{
    margin-bottom: 30px;
}

.Feature_title1 h2{
    font-size: 50px;
    text-align: center;
    line-height: 1.45;
    font-weight: 500;
    padding-bottom: 20px;
}
.line{
    margin-top: -20px;
    font-size: 35px;
    text-align: center;
    color: #1a57a5;
}

.Feature_title2 p{
    font-size: 16px;
    color: #73767c;
    line-height: 1.6;
    text-align: center;
}
.Feature-box1{
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
    width: 100%;
    margin-bottom: 50px;
}
.Feature_image1 img{
    width: 700.98px;
    height: 448.83px;
    margin-left: -200px;
    box-shadow: 0 20px 45px -10px rgba(0, 0, 0, .15);
}
.Feature-box1 h3{
    color: #1a57a5;
    font-size: 36px;
    margin: 20px 0px 30px;
    line-height: 1.45;
    font-weight: 500;
}
.Feature-box1 p{
    font-size: 16px;
    color: #73767c;
    line-height: 1.7;
    margin-bottom: 30px;
}
.Feature-box1 p i{
    color: #1A57A5;
    font-size: 16px;
    font-weight: 50000;
    margin-right: 10px;
}
.Big-Benefits{
    width: 45%;
}
.Feature_image2 img{
    margin-right: -95px;
    width: 700.98px;
    height: 448.83px;
    margin-left: -250px;
    box-shadow: 0 20px 45px -10px rgba(0, 0, 0, .15);
}
.Big-Benefits2{
    width: 45%;
    margin-left: -10px;
}
/* end Features */
/* start Business */
.Business-plan{
    padding: 7em 0;
    width: 100%;
}
.Business-plans{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.small_business-plans{
    width: 80%;
    margin: 0px auto;
}
.plan h2{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0px 0px;
}
.plan{
    padding: 30px 10px 30px 30px;
    border: 1px solid #ebebeb;
    width: 27%;
    margin-top: 125px;
}
.cost strong{
    font-size: 62px;
    font-weight: 300;
    color: #1a57a5;
    line-height: 1.7;
}
.cost{
    text-align: center;
    margin: 0px 0px 30px;
}
.plan>p{
    color: #bdbdbd;
    text-align: center;
    margin-bottom: 30px;
}
.Benefits p i{
    color: #1A57A5;
    font-size: 16px;
    font-weight: 500000;
    margin-right: 12px;
}
.Benefits p{
    margin-bottom: 10px;
    font-size: 16px;
    color: #73767c;
    line-height: 1.7;
}
.Business-link{
    color: #ffffff;
    padding: 12px 40px;
    background-color: #000;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #000;
    text-align: center;
    margin: 10px 0;
    transition: 0.2s;
}
.Business-links{
    padding: 50px 0;
    text-align: center;
}
.your-mouth{
    padding-left: 36px;
    margin-top: -10px;
}
.Business-link:hover{
    background-color: #262626;
}
#plan{
    padding: 30px 10px 30px 30px;
    border: 1px solid #ebebeb;
    width: 27%;
    margin-top: 125px;
    box-shadow:  0 20px 45px -10px rgba(0, 0, 0, .15);

}
#plan>p{
    color: #bdbdbd;
    text-align: center;
    margin-bottom: 30px;
}
#plan h2{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0px 0px;
}
#Business-link{
    color: #ffffff;
    padding: 12px 40px;
    background-color: #1a57a5;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #1a57a5;
    text-align: center;
    margin: 10px 0;
    transition: 0.2s;
}
#Business-link:hover{
    background-color: #103463;
}
/* end Business */
/* start love frame */
.Successful-users1{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.Successful-users2{
    display: flex;
    justify-content: space-between;
}
.Successful-user{
    padding: 30px;
    width: 29%;
    margin-bottom: 30px;
    line-height: 1.7;
    font-size: 17px;
    font-weight: 530;
    background-color: white;
    border-radius: 4px;
    margin-left: 15px;
    margin-right: 15px;
    font-style: italic;
    transition: .3s all ease;
}
.fa-star{
    font-size: 16px;
    margin-bottom: 10px;
}
.Successful-user img{
    width: 75px;
    height: 70px;
    margin-bottom: 30px;
}
.names{
    color: #73767c;
    margin-top: 25px;
    font-style: normal;
}
.Successful-user:hover{
    box-shadow: 0 20px 45px -10px rgba(0, 0, 0, .15);
}
/* end love frame */
/* start today */
.Feature_title2 p a{
    padding-top: 30px;
}
#Frame_information img{
    margin-top: 120px;
    height: 688.35px;
}
.informations{
    display: flex;
    justify-content: space-between;
}
.information{
    width: 50%;
    margin-bottom: 30px;
}
.information h4 i{
    color: #1A57A5;
    font-size: 16px;
    font-weight: 500000;
    margin-right: 12px;
}
.information h4{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    margin: 10px 0 30px;
}
.information p{
    font-size: 16px;
    color: #73767c;
    line-height: 1.7;
    margin-bottom: -30px;
}
/* end today */
/* start Join */
#Join{
    padding: 3em 0;
    background-color: #1a57a5;
}
#small-join{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
#small-join h2{
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}
#small-join p{
    font-size: 16px;
    color: rgba(255,255,255,.7);
    line-height: 1.7;
    margin-bottom: 40px;
}
/* end Join */
/* start sebd message */
.small_informations{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#information{
    padding: 40px;
    background-color: white;
    width: 41%;
    box-shadow: 0 20px 45px -10px rgba(0, 0, 0, .15);
}
#information-example{
    width: 41%;
}
#information h2{
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 30px;
    color: #000000;
}
#information input{
    padding: 6px 12px;
    margin: 0 0 15px;

}
li{
    text-align: left;
}
/* end sebd message */